<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
    {{!-- {{>headerLinks}} --}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Abhishek Weather World</p>
                        <h1>I am a <span class="txt_clr">Mern Stack Developer</span>, College  Student </h1>
                        <a href="../contact" target="_thapa"><button>About Me</button></a>
                    </div>
                    <div class="col-md-6 col-12 main_header_right align-items-center  ">
                        <figure>
                            <img src="images/oo.jpg" alt="thapa" title="thapatechnical" class="img-fluid">
                        </figure>

                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

    <footer>
        <p>
            created with ❤ by Abhishek pratap  Singh 
        </p>
    </footer>
</body>

</html>