<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <h1 class=" abhi">Contact Us</h1>



    <!-- <marquee>abhishek pratpa sinh</marquee>
        <marquee direction="down" style="color: antiquewhite;">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Eum, porro?
            <br>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, soluta suscipit. Nisi!
            <br>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam saepe fugiat minima?

            <br>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit optio esse unde a quo, reprehenderit sit
            labore sed officia quasi aspernatur doloribus quae perspiciatis corrupti quod facere inventore sequi odio,
            ipsum doloremque velit iste aut accusamus? Corrupti officia fugit assumenda deserunt optio, repudiandae eius
            quos nam recusandae voluptas esse itaque architecto ipsa, officiis, eveniet placeat molestiae magnam
            maiores! Ab odit similique quos libero voluptatem. Vero dolor aliquid neque nihil maxime qui totam eaque ex.
            Recusandae vero aut nesciunt, dicta, libero maxime molestiae animi necessitatibus consequatur fuga vitae
            magni nobis sunt sed, quam consectetur placeat sit voluptatum odit minima! Sequi ipsum tempore modi minima
            pariatur cumque placeat velit temporibus, quibusdam blanditiis voluptatibus voluptas eligendi magnam rem
            nesciunt voluptatum harum eius consequatur repudiandae accusantium optio!

        </marquee> -->



    </section>

    <!------------------------------------ About us ---------------------------------------->

    <section class="location">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3665.911902466974!2d77.49974961492336!3d23
    .246292684840263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397c41b9eec40a7d%3A0x2e6d6c5bfa0e56d7!
    2sOriental%20College%20of%20Technology!5e0!3m2!1sen!2sin!4v1637605898426!5m2!1sen!2sin" width="600" height="450"
            style="border:0;" allowfullscreen="" loading="quickly"></iframe>

    </section>

    <section class="contact-us">

        <div class="row">

            <div class="contact-col">
                <div>
                    <i class="fa fa-home"></i>
                    <span>
                        <h5>Patel Nagar</h5>
                        <p>Bhopal, MadhyaPradesh</p>
                    </span>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <span>
                        <h5>+91 823xxxxx12</h5>
                        <p>Monday to Saturday, 10AM to 6PM</p>
                    </span>
                </div>
                <div>
                    {{!-- <i class="fa fa-envelope-o"></i> --}}
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span>
                        <h5>weatherApp@gmail.com</h5>
                        <p>Email Us Your Queries</p>
                    </span>
                </div>
            </div>

            <div class="contact-col">
                <form action="">
                    <input type="text" placeholder="Enter Your Name" required>
                    <input type="text" placeholder="Enter Email Address" required>
                    <input type="text" placeholder="Enter Your Subject" required>
                    <textarea rows="8" placeholder="Message" required></textarea>
                    <button type="submit" class="hero-btn red-btn">Send Message</button>
                </form>
            </div>

        </div>

    </section>


    <!-- footer -->
    {{!-- <section class="footer">
        <h5>ABOUT US</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel similique numquam minus, aspernatur possimus
            voluptatum architecto corrupti consequuntur deleniti culpa. Recusandae lore12

        </p>
        <div class="icons">
            <i class="fa fa-twitter"></i>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>

        </div> --}}
        {{!-- <P>Made By Harshit Kumar & Abhishek Pratap Singh</P>
    </section> --}}


    <!-- footer -->

    <footer>
        <p>
            created with ❤❤ by Abhishek_pratp_Singh🌹🌹
        </p>
    </footer>
</body>

</html>